{% extends 'back/master.html' %}
{% load static %}

{% block headblock %}

    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block mainblock%}

    <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>Settings<br>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li><a href="/panel"> Site </a></li>
                            <li><a href="/panel/settings/">settings</a></li>
                        </ul>
                        <!-- END Datatables Header -->

                        <div class="row">
                            <div class="col-md-12">
                                <!-- Basic Form Elements Block -->
                                <div class="block">
                                    <!-- Basic Form Elements Title -->
                                    <div class="block-title">
                                        <div class="block-options pull-right">
                                            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">No Borders</a>
                                        </div>
                                        <h2><strong>Edit</strong> Settings</h2>
                                    </div>
                                    <!-- END Form Elements Title -->

                                    <!-- Basic Form Elements Content -->
                                    <form action="{%url 'site_settings' %}" method="post" class="form-horizontal form-bordered" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" id="name" name="name" class="form-control" placeholder="Site Name" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" id="fb" name="fb" class="form-control" placeholder="Contact No" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" id="fb" name="fb" class="form-control" placeholder="Facebook" >

                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" id="tw" name="tw" class="form-control" placeholder="Twitter" >

                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" id="yt" name="yt" class="form-control" placeholder="YouTube" >

                                            </div>
                                        </div>
                                        <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea type="text" id="about" name="about" rows="5" class="form-control" placeholder="About US"></textarea>
                                    </div>

                                </div>
                                <script>
                                    ClassicEditor
                                        .create( document.querySelector( '#about' ) )
                                        .catch( error => {
                                            console.error( error );
                                        } );
                                </script>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                            </div>
                                        </div>

                                    </form>
                                    <!-- END Basic Form Elements Content -->
                                </div>
                                <!-- END Basic Form Elements Block -->
                            </div>
                        </div>

{% endblock %}

{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}