{% extends 'back/master.html' %}
{% load static %}

{% block mainblock%}

    <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>Add Sub Category<br>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Add</li>
                            <li><a href="/panel/add/subcategory/">Sub Category</a></li>
                        </ul>
                        <!-- END Datatables Header -->

                        <div class="row">
                            <div class="col-md-12">
                                <!-- Basic Form Elements Block -->
                                <div class="block">
                                    <!-- Basic Form Elements Title -->
                                    <div class="block-title">
                                        <div class="block-options pull-right">
                                            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">No Borders</a>
                                        </div>
                                        <h2><strong>Add</strong> Sub Category</h2>
                                    </div>
                                    <!-- END Form Elements Title -->

                                    <!-- Basic Form Elements Content -->
                                    <form action="{%url 'add_subcat' %}" method="post" class="form-horizontal form-bordered" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" id="subcattitle" name="subcatname" class="form-control" placeholder="News Title" >
                                            </div>

                                        <div class="col-md-6">
                                                <select id="example-chosen" id="cat" name="category" class="select-chosen" data-placeholder="Category..." style="width: 250px;">
                                                        <option></option><!-- Required for data-placeholder attribute to work with Chosen plugin -->
                                                        {% for category in cat %}
                                                        <option value="{{ category.pk }}">{{ category.name }}</option>
                                                        {% endfor %}

                                                    </select>
                                        </div>
                                        <br><br>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                            </div>
                                        </div>

                                    </form>
                                    <!-- END Basic Form Elements Content -->
                                </div>
                                <!-- END Basic Form Elements Block -->
                            </div>
                        </div>

{% endblock %}

{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}